/* Makes our label white. */
.blocklyTreeLabel {
  color: white;
}
/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
  padding: .5em;
}
/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
  height: initial;
  padding: 3px;
  margin-bottom: .5em;
  border-radius: 20px;
  padding-left: 10px!important
}

/* Changes color of the icon to white. */
.customIcon {
  color: white;
  margin-right: 10px;
}
/* Stacks the icon on top of the label. */
.blocklyTreeRowContentContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.blocklyToolboxDiv {
  background-color: #3c3c3c;
  height: 100%;
  z-index: 61;
  overflow-x: hidden;
  width: 160px;
  box-shadow: 5px 0 10px rgba(0,0,0,.1);
  background-color: #fff;
  padding: 70px 0 50px 0
}
